root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,xaml}]
indent_size = 4

[*.xml]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2
